{{#if @blog.logo}}<a href="{{@blog.url}}" class="site-logo"><img src="{{@blog.logo}}" alt="{{@blog.title}}" class="img-avatar"></a>{{/if}}
<h1 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>

{{navigation}}

{{> custom/social}}
