{{#foreach posts}}

<article class="{{post_class}}">

    <div class="container">

        <header class="post-header">

            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

            <span class="post-meta">

                Por {{author.name}}, <time class="post-date" datetime="{{date format='DD/MM/YYYY'}}">{{date timeago='true'}}</time> |

                <a href="{{url}}#comments">

                    <span class="comments-count" data-href="{{url absolute='true'}}"></span>
                    <span class="fa fa-comments"></span>

                </a>

            </span>

            <div class="post-image">

                <a href="{{url}}">{{#if image}}<img src="{{image}}" alt="{{title}}" class="img-responsive" />{{/if}}</a>

            </div>

        </header>

        <section class="post-excerpt">

            <p>{{excerpt words='60'}}&hellip; <a href="{{url}}" class="read-more" title="Seguir leyendo"><span class="fa fa-angle-double-right"></span></a></p>

        </section>

        <footer class="post-footer">

            <div class="tags text-center">

                {{tags separator=' '}}

            </div>

        </footer>

    </div>

</article>

{{/foreach}}

{{pagination}}
