<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{{asset 'css/font-awesome.min.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/sigmund.min.css'}}" />

        <!--[if lt IE 9]>
            <script src="{{asset 'js/html5shiv-printshiv.min.js'}}"></script>
            <script src="{{asset 'js/respond.min.js'}}"></script>
        <![endif]-->

        {{{block 'meta'}}}

        {{ghost_head}}

    </head>

    <body class="{{body_class}}">

        <a href="#" class="toggle-drawer"><span class="fa fa-bars fa-lg"></span></a>
        <a href="#" class="scroll-top"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-arrow-up fa-stack-1x fa-inverse"></span></span></a>

        {{> drawer}}

        <header id="site-header">

            {{> header}}

        </header>

        <main id="site-content">

            {{{body}}}

        </main>

        <footer id="site-footer">

            {{> footer}}

        </footer>

        {{ghost_foot}}

        <script src="{{asset 'js/sigmund.js'}}"></script>

    </body>

</html>
