{{!< default}}

{{> custom/post-meta}}

{{#post}}

<article class="{{post_class}}">

    <div class="container">

        <header class="post-header">

            <h1 class="post-title">{{title}}</h1>

            <section class="post-meta">

                Por {{author.name}}, <time class="post-date" datetime="{{date format='DD/MM/YYYY'}}">{{date timeago='true'}}</time> |

                <a href="{{url}}#comments">

                    <span class="comments-count" data-href="{{url absolute='true'}}"></span>
                    <span class="fa fa-comments"></span>

                </a>

            </section>

            <div class="post-image">

                {{#if image}}<img src="{{image}}" alt="{{title}}" class="img-responsive" />{{/if}}

            </div>

        </header>

        <section class="post-content">

            {{content}}

        </section>

        <footer class="post-footer">

            <div class="post-share">

                {{> share}}

            </div>

            <div class="post-author">

                {{> author-bio}}

            </div>

            <div class="tags">

                {{tags separator=' '}}

            </div>

        </footer>

    </div>

</article>

{{> read-next}}

{{/post}}

<section class="post-comments">

    {{> custom/comments}}

</section>
